/*#7FFFD4*/
*{
  
  box-sizing: border-box;
  
  
}
body{
  background-color: #112138;
  overflow-x: hidden;
  padding: 0 50px;
  
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 50px;
}
.nav-list{
  display: flex;
  padding-right: 100px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15x;
 
}
.logo{
  height: 75px;
  width: 95px;
  padding-left: 20px;
}
.nav-link{
  padding: 80px;
  list-style-type: none;
}
.nav-list a{
   text-decoration: none;
   color: #F9F6EE;
}
.intro{
  height: 660px;
  width: 100%;
  margin-left: 50px;
  
}
.intro-box{
  
  height: 600px;
  width: 70%;
  padding-top: 200px;
  padding-left: 100px;
  margin-left: 20px;
  text-align: justify;
}
.ip1{
  font-family: 'Press Start 2P', cursive;
  color: #7FFFD4;
}
.ip2{
  font-family: 'Georgia', serif;
  font-size: 70px;
  font-weight: bolder;
  color: rgb(180, 215, 220);
}
.ip3,.ip4{
  font-family: 'Press Start 2P', cursive;
  color: rgb(160, 195, 200);
}

.p-text{
  padding: 10px;
  color: rgb(160, 195, 200);
  font-family: 'Georgia', serif;
  font-size: 20px;
}
#about{
  height: 720px;
  width: 100%;
  
  
}
.about-info{
  display: flex;
  gap: 10px;
  
  margin-right: 80px;
}
.heading{
  font-family: 'Share Tech Mono', monospace;
  color: #7FFFD4;
}
.about-text{
 
  text-align: justify;
  padding-top: 100px;
}
.pfp{
  width: 500px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(127, 255, 212, 0.5);
  border-radius: 20px;

}
.pfp:hover{
  transform: translateY(-20px);
  transform: translateX(-10px);
  box-shadow: 0 10px 20px rgba(127, 255, 212, 1) ;
}
.project-image{
  width: 400px;
  height: auto;
}
#projects{
  height: 850px;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}
.project-box{
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid black;
  width: 450px;
  height: 300px;
  padding-top: 10px;
}
#contact{
 height: 740px;
 width: 100%;
 border: 2px solid black;
 text-align: center;
 padding-top: 200px;
 
}
.icon{
  width: 100px;
  height: 100px;
  padding: 20px;
}

.icon-container{
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
}
