/*#7FFFD4*/
*{
  
  box-sizing: border-box;
  
  
}
body{
  background-color: #112138;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  align-items: center;
  margin: 0 0 20px 0;
  position: fixed;
  background-color: #112138;
  opacity: 0.9;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1000;
  transition: top 0.5s ease-in-out;
}
.menu-icon{
  color: #7FFFD4;
  display: none;
}
.nav-bar
.nav-list{
  display: flex;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15x;
 
}
.logo{
  height: 50px;
  width: auto;
}
.nav-link{
  padding: 80px;
  list-style-type: none;
}
.nav-list a{
   text-decoration: none;
   color: #F9F6EE;
}
.nav-list a:hover{
  color: #7FFFD4;
}
.intro{
  height: 100vh;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 200px;
  text-align: justify;
  margin: 0;
}

.ip1{
  font-family: 'Press Start 2P', cursive;
  color: #7FFFD4;
}
.ip2{
  font-family: 'Georgia', serif;
  font-size: 70px;
  font-weight: bolder;
  color: rgb(180, 215, 220);
}
.ip3,.ip4{
  font-family: 'Press Start 2P', cursive;
  color: rgb(160, 195, 200);
}

.p-text{
  padding: 10px;
  color: rgb(160, 195, 200);
  font-family: 'Georgia', serif;
  font-size: 20px;
}
#about{
  height: 100vh;
  width: 100%;
  padding: 0 50px;
}
.about-info{
  display: flex;
  gap: 10px;
  
  margin-right: 80px;
}
.heading{
  font-family: 'Share Tech Mono', monospace;
  color: #7FFFD4;
}
.about-text{
 
  text-align: justify;
  padding-top: 100px;
}
.pfp{
  width: 500px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(127, 255, 212, 0.5);
  border-radius: 20px;

}
.pfp:hover{

  box-shadow: 0 10px 20px rgba(127, 255, 212, 1) ;
}
.project-image{
  width: 400px;
  height: auto;
}
#projects{
  height: 110%;
  width: 100%;
  padding: 50px;
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}
.project-box{
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 450px;
  height: 300px;
  padding-top: 10px;
  background-color: rgb(28, 51, 85);
  box-shadow: 0 10px 20px rgba(127, 255, 212, 0.5);
}
.project-box:hover{

  box-shadow: 0 10px 20px rgba(127, 255, 212, 1) ;

}
.project-box a{
  text-decoration: none;
  font-family: 'Georgia', serif;
  color: #F9F6EE;
  font-size: 20px;
}
#contact{
 height: 100vh;
 width: 100%;
 text-align: center;
 padding-top: 200px;
}
.icon{
  width: 100px;
  height: 100px;
  padding: 20px;
}

.icon-container{
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
}
.blurred{
  filter: blur(5px);
  pointer-events: none;
}


@media screen and (max-width: 480px){
  body{
    width: 100%;
    overflow-x: hidden;
  }
  .nav-bar{
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 999;
  
  }
  .nav-list{
     position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: #112138;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    
  }
  .nav-link{
    margin: 60px 0;
    text-align: center;
    padding: 30px;
  }
  .menu-icon{
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
  }
  .nav-open{
    right: 0;
  }
  .nav-close{
    right: -100%;
  }
  .pfp{
    height: 300px;
    width: auto;
  }
  .ip1{
    font-size: 1rem;
  }
  .ip2{
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .ip3,.ip4{
    font-size: 1rem;
  }
  .p-text1{
    overflow-wrap: normal;
    white-space: normal;
  }
  .intro{
    padding-top: 200px;
    padding-left: 0;
    padding-right: 0;
    text-align: start;
    height: 100vh;
  }
  .p-text{
    font-size: 1rem;
    text-align: start;
  }
  .about-info{
    flex-direction: column;
    margin: 0;
    
  }
  .about-text{
    order: 0;
    padding: 0 0 20px 0 ;
  }
  .about-img{
    order: -1;
    
  }
  #about{
    height: auto;
  }
  #projects{
    height: auto;
  }
  .project-box{
    height: 200px;
    width: 350px;
  }
  .project-image{
    height: 125px;
    width: auto;
  }
  .project-box a{
    font-size: 1.1rem;
  }
}