/*#7FFFD4*/
*{
  
  box-sizing: border-box;
  
  
}
body{
  background-color: #112138;
 
  padding: 0;
  overflow-x: hidden;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 65px;
  align-items: center;
  margin: 0 0 20px 0;
  position: fixed;
  background-color: #112138;
  top: 0;
  left: 0;
  padding: 10px;
  border: 2px solid;
  
}
.menu-icon{
  color: #7FFFD4;
  display: none;
}
.nav-bar
.nav-list{
  display: flex;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15x;
 
}
.logo{
  height: 50px;
  width: auto;
}
.nav-link{
  padding: 80px;
  list-style-type: none;
}
.nav-list a{
   text-decoration: none;
   color: #F9F6EE;
}
.nav-list a:hover{
  color: #7FFFD4;
}
.intro{
  height: 100vh;
  width: 100%;
  
  padding: 0 50px;
  border: 2px solid black;
  
}
.intro-box{
  
  height: 600px;
  width: 70%;
  padding-top: 200px;
  padding-left: 100px;
  margin-left: 20px;
  text-align: justify;
}
.ip1{
  font-family: 'Press Start 2P', cursive;
  color: #7FFFD4;
}
.ip2{
  font-family: 'Georgia', serif;
  font-size: 70px;
  font-weight: bolder;
  color: rgb(180, 215, 220);
}
.ip3,.ip4{
  font-family: 'Press Start 2P', cursive;
  color: rgb(160, 195, 200);
}

.p-text{
  padding: 10px;
  color: rgb(160, 195, 200);
  font-family: 'Georgia', serif;
  font-size: 20px;
}
#about{
  height: 100vh;
  width: 100%;
  padding: 0 50px;
  border: 2px solid black;
}
.about-info{
  display: flex;
  gap: 10px;
  
  margin-right: 80px;
}
.heading{
  font-family: 'Share Tech Mono', monospace;
  color: #7FFFD4;
}
.about-text{
 
  text-align: justify;
  padding-top: 100px;
}
.pfp{
  width: 500px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(127, 255, 212, 0.5);
  border-radius: 20px;

}
.pfp:hover{

  box-shadow: 0 10px 20px rgba(127, 255, 212, 1) ;
}
.project-image{
  width: 400px;
  height: auto;
}
#projects{
  height: 110%;
  width: 100%;
  padding: 50px;
  border: 2px solid black;
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}
.project-box{
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 450px;
  height: 300px;
  padding-top: 10px;
  background-color: rgb(28, 51, 85);
  box-shadow: 0 10px 20px rgba(127, 255, 212, 0.5);
}
.project-box:hover{

  box-shadow: 0 10px 20px rgba(127, 255, 212, 1) ;

}
.project-box a{
  text-decoration: none;
  font-family: 'Georgia', serif;
  color: #F9F6EE;
  font-size: 20px;
}
#contact{
 height: 100vh;
 width: 100%;
 text-align: center;
 padding-top: 200px;
 border: 2px solid black;
}
.icon{
  width: 100px;
  height: 100px;
  padding: 20px;
}

.icon-container{
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
}
@media screen and (max-width: 480px){
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  .nav-bar{
    width: 100vw;
    height: 55px;
    position: sticky;
  
  }
  .nav-list{
     position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    background-color: #333;
    flex-direction: column;
    transition: left 0.3s ease-in-out;
  }
  .nav-link{
    margin: 20px 0;
    text-align: center;
  }
  .menu-icon{
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  .nav-open{
    left: 0;
  }
}